.modal {
  &_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &_content {
    background-color: #2b3f4f;
    text-align: center;
    border-radius: 15px;
    width: 350px;
    height: 100%;
    padding: 20px;
  }


  .modal_btn {
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: #81b53e;
    border: none;
    height: 25px;
    min-width: 60px;
    &:hover {
      color: black;
    }

    &:active,
    &:hover {
      opacity: 0.8;
      outline: none;
    }
  }

  .forgot {
    margin-top: 20px;
  }
}



